In [ ]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import seaborn as sns
import matplotlib.pyplot as plt
import folium

In [ ]:
from sqlalchemy import create_engine, text

In [ ]:
database_name = 'scooters'  

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT EXTRACT(MONTH from DATE(pubtimestamp)) AS month, pubtimestamp, companyname, tripduration, tripdistance, startlatitude, startlongitude, endlatitude, endlongitude
FROM trips;
'''
with engine.connect() as connection: result = connection.execute(text(query))
with engine.connect() as connection:
    all_trips = pd.read_sql(text(query), con = connection)
all_trips.head()

In [ ]:
all_trips.info()

In [ ]:
query = '''
SELECT DISTINCT (companyname), count(companyname)
FROM trips
GROUP BY companyname;
'''
with engine.connect() as connection:
    companies = pd.read_sql(text(query), con = connection)
companies

In [ ]:
query = '''
SELECT AVG(tripdistance)
FROM trips;
'''
with engine.connect() as connection:
    all_trips = pd.read_sql(text(query), con = connection)
all_trips  #response is in feet

In [ ]:
query = '''
SELECT companyname, AVG(tripdistance)
FROM trips
GROUP BY companyname;
'''
with engine.connect() as connection:
    alltrip_distancebycomp = pd.read_sql(text(query), con = connection)
alltrip_distancebycomp

distance measured in feet, duration in minutes

In [ ]:
query = '''
SELECT companyname, AVG(tripduration)
FROM trips
GROUP BY companyname;
'''
with engine.connect() as connection:
    alltrip_durationbycomp = pd.read_sql(text(query), con = connection)
alltrip_durationbycomp

In [ ]:
query = '''
SELECT *
FROM trips
WHERE companyname LIKE '%Bolt%Mobility%';
'''
with engine.connect() as connection:
    boltmobility = pd.read_sql(text(query), con = connection)
boltmobility.head(3)

In [ ]:
%who

In [ ]:
boltmobility.plot()

In [ ]:
companies.plot(linestyle = 'dotted', color = 'green')
plt.xlabel("Company")
plt.ylabel("Number of Scooters")
plt.title("Scooters by Company");

In [ ]:
companies.plot(linestyle = 'dotted', color = 'green', marker = '*')
plt.xlabel("Company", color = 'green')
plt.ylabel("Number of Scooters")
plt.title("Scooters by Company")

# Change the tick mark names
ticks = [0, 1, 2, 3, 4, 5, 6]
labels = ['Bird', 'Bolt Mobility', 'Gotcha', 'Jump', 'Lime', 'Lyft', 'Spin']
plt.xticks (ticks, labels)


;

In [ ]:
import numpy as np

In [ ]:
companies

In [ ]:
companies.to_csv('../notebook/companies.csv', index = False)

In [ ]:
alltrip_distancebycomp

In [ ]:
alltrip_distancebycomp.to_csv('../notebook/distancebycomp.csv', index = False)

In [ ]:
alltrip_distancebycomp.plot(linestyle = '--' , color = 'green', marker = '*')
plt.xlabel("Company")
plt.ylabel("Average Trip Distance")
plt.title("Scooters by Company");

In [ ]:
alltrip_distancebycomp.plot(linestyle = '--' , color = 'green', marker = '*')
plt.xlabel("Company", color = 'green')
plt.ylabel("Average Trip Distance")
plt.title("Scooters by Company")

# Change the tick mark names
ticks = [0, 1, 2, 3, 4, 5, 6]
labels = ['Bird', 'Bolt Mobility', 'Gotcha', 'Jump', 'Lime', 'Lyft', 'Spin']
plt.xticks (ticks, labels, color = 'red')

plt.yticks (color = 'red')
;

In [ ]:
alltrip_distancebycomp.hist();

In [ ]:
%who

In [ ]:
plt.hist(alltrip_distancebycomp, range= (1, 6));

In [ ]:
alltrip_distancebycomp

In [ ]:
all_trips