In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd
from shapely.geometry import Point
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import seaborn as sns

#link to the database in SQL

In [ ]:
database_name = 'scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [ ]:
engine = create_engine(connection_string)

#use SQL to narrow down data

In [ ]:
query = '''
SELECT *
FROM scooters
WHERE sumdgroup <> 'bicycle'
LIMIT 100000;
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    scooters = pd.read_sql(text(query), con = connection)

scooters.head(2)

In [ ]:
query = '''
SELECT pubtimestamp, companyname, sumdid, triprecordnum, tripduration, tripdistance
FROM trips
LIMIT 100000;
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    trips = pd.read_sql(text(query), con = connection)

trips.head(2)

#single out one month of data

In [ ]:
query = '''
SELECT EXTRACT(MONTH from DATE(pubtimestamp)) AS month, pubtimestamp, companyname, sumdid, triprecordnum, tripduration, tripdistance
FROM trips
WHERE EXTRACT(MONTH from DATE(pubtimestamp)) = 5;
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    may_trips = pd.read_sql(text(query), con = connection)

may_trips.head(2)

#df with all trips

In [ ]:
query = '''
SELECT EXTRACT(MONTH from DATE(pubtimestamp)) AS month, pubtimestamp, companyname, sumdid, triprecordnum, tripduration, tripdistance, startlatitude, startlongitude, endlatitude, endlongitude
FROM trips;
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    all_trips = pd.read_sql(text(query), con = connection)

all_trips.head()

#bring in zipcodes

In [ ]:
zipcodes = gpd.read_file('../data/zipcodes.geojson')
print(zipcodes.crs)
zipcodes.head(2)

In [ ]:
zipcodes.plot()

#take out some columns from zipcodes

In [ ]:
zipcodes = zipcodes[['zip', 'po_name', 'geometry']]

#add geometry column to all_trips

In [ ]:
all_trips['geometry_start'] = all_trips.apply(lambda x: Point((float(x.startlongitude), 
                                                         float(x.startlatitude))), 
                                        axis=1)
all_trips.head(2)

In [ ]:
all_trips['geometry_end'] = all_trips.apply(lambda x: Point((float(x.endlongitude), 
                                                         float(x.endlatitude))), 
                                        axis=1)
all_trips.head(2)

#tried to make a histogram

In [ ]:
all_trips['tripduration'].hist(bins = 2);

#use crosstab

In [ ]:
pd.crosstab(all_trips['companyname'], all_trips['sumdid'])

#use groupby function

In [ ]:
all_trips.groupby('companyname')['tripduration'].describe()

#check datatype of all_trips and then change it to a geodataframe

In [ ]:
type(all_trips)

In [ ]:
all_trips_geo = gpd.GeoDataFrame(all_trips, 
                           crs = zipcodes.crs, 
                           geometry = all_trips['geometry_start'])

In [ ]:
type(all_trips_geo)

#join all_trips_geo with zipcodes

In [ ]:
all_trips_zip = gpd.sjoin(all_trips_geo, zipcodes, op = 'within')

In [ ]:
all_trips_zip.head(2)

In [ ]:
all_trips_zip.plot();

#look at top 3 zips by count

In [ ]:
all_trips_zip['zip'].value_counts().head(3)

#look at top zipcode - narrow down the all_trips to just that zip and narrow down the zipcodes to just that area

In [ ]:
all_trips_37203 = all_trips_zip.loc[all_trips_zip['zip'] == '37203']

polygon37203 = zipcodes.loc[zipcodes['zip'] =='37203']

In [ ]:
#fig, ax = matplotlib.subplots()
ax = polygon37203.plot(figsize = (8, 8), color = 'lightgreen')
all_trips_37203.plot( ax = ax, column = 'sumdid');
plt.show();

#look at second highest zip

In [ ]:
all_trips_37201 = all_trips_zip.loc[all_trips_zip['zip'] == '37201']

polygon37201 = zipcodes.loc[zipcodes['zip'] =='37201']

In [ ]:
#fig, ax = matplotlib.subplots()
ax = polygon37201.plot(figsize = (8, 8), color = 'lightgreen')
all_trips_37201.plot( ax = ax, column = 'sumdid');
plt.show();

#find the number of trips per scooter per company

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'Lime'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    lime_trips = pd.read_sql(text(query), con = connection)

lime_trips.head(2)

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'Bird'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    bird_trips = pd.read_sql(text(query), con = connection)

bird_trips.head(2)

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'Lyft'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    lyft_trips = pd.read_sql(text(query), con = connection)

lyft_trips.head(2)

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'SPIN'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    spin_trips = pd.read_sql(text(query), con = connection)

spin_trips.head(2)

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'Bolt Mobility'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    bolt_trips = pd.read_sql(text(query), con = connection)

bolt_trips.head(2)

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'JUMP'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    jump_trips = pd.read_sql(text(query), con = connection)

jump_trips.head(2)

In [ ]:
query = '''
SELECT companyname AS company, sumdid AS scooter, COUNT(*) AS trips, SUM(tripduration) AS total_duration, SUM(tripdistance) AS total_distance
FROM trips
WHERE companyname = 'Gotcha'
GROUP BY sumdid, companyname
ORDER BY trips
'''

with engine.connect() as connection: result = connection.execute(text(query))

with engine.connect() as connection:    
    gotcha_trips = pd.read_sql(text(query), con = connection)

gotcha_trips.head(2)

#stitch these together into one table

In [ ]:
trips_per_scooter = pd.concat([lime_trips, bird_trips, lyft_trips, spin_trips, bolt_trips, jump_trips, gotcha_trips])

trips_per_scooter.head()

In [ ]:
trips_per_scooter['used_frequently'] = trips_per_scooter.trips > 276

In [ ]:
trips_per_scooter.head()

In [ ]:
trips_per_scooter.to_csv('../notebooks/trips_per_scooter.csv', index = False)

In [ ]:
trips_per_scooter.dtypes

In [ ]:
trips_per_scooter['used'] = trips_per_scooter.used_frequency == 'False', then 0, trips_per_scooter.used_frequency == 'True" then 1

In [ ]:
# Let's massage the data a bit to be aggregated by day of week, with
# columns for each gender. We could leave it in long format as well (
# with gender as values in a single column).
agg_trips_per_scooter = trips_per_scooter.groupby(['company', 'used_frequently'])['trips'].sum().unstack().fillna(0)

agg_trips_per_scooter

In [ ]:
fig, ax = plt.subplots()

ax.bar(agg_trips_per_scooter.index, agg_trips_per_scooter['False'], label='False')
# Then plot the 'Female' bars on top, starting at the top of the 'Male'
# bars.
ax.bar(agg_trips_per_scooter.index, agg_trips_per_scooter['True'], bottom=agg_trips_per_scooter['False'],
       label='True')
ax.set_title('Use of Scooters')
ax.legend()

In [ ]:
scooters_used_often = trips_per_scooter.loc[trips_per_scooter['trips'] > 276]

In [ ]:
scooters_used_often.head()

In [ ]:
scooters_used_seldom = trips_per_scooter.loc[trips_per_scooter['trips'] < 276]

In [ ]:
scooters_used_seldom.head()

This chart shows the total number of scooters per company

In [ ]:
trips_per_scooter['company'].value_counts().plot(kind = 'bar',
                                        figsize = (10,6))               # Increase the plot size                

plt.xticks(rotation = 0,                                                # Remove the rotation of the labels
           fontsize = 12)                   
plt.title('Number of Scooters per Company',                              # Add a title
         fontsize = 14,
         fontweight = 'bold');

plt.show();

In [ ]:
trips_per_scooter['company'].value_counts().plot(kind = 'bar');

In [ ]:
scooters_used_often['company'].value_counts().plot(kind = 'bar');

In [ ]:
scooters_used_seldom['company'].value_counts().plot(kind = 'bar');

In [ ]:
fig, ax = plt.subplots()

ax.bar(scooters_used_seldom.index, scooters_used_seldom['company'], label='Extra Scooters')

ax.bar(scooters_used_often.index, scooters_used_often['company'], scooters_used_seldom['company'],
       label='Used Scooters')

ax.set_title('Number of Scooters Used an Avg of 3x per Day')
ax.legend()

In [ ]:
sns.scatterplot(data = trips_per_scooter,
               x = 'company',
               y = 'trips',
               hue = 'company',
               palette = ['cornflowerblue', 'coral', 'pink']);